body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homepage {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
}
.homepageNav {
  flex: 0.2;
}
@media screen and (max-width: 1260px) {
  .homepageNav {
    flex: 0.1;
  }
}
.homepageTimeline {
  flex: 0.8;
}
@media screen and (max-width: 780px) {
  .homepageNav {
    flex: 0;
  }
}
.homepageTimeline {
  flex: 1;
}
