.timeline {
  display: flex;
  flex-direction: row;
  margin-top: 3.7rem;
}
.timelineLeft {
  flex: 0.7;
}
.postTimeline {
  width: 70%;
  margin: auto;
}
.timelineRight {
  flex: 0.3;
}
@media screen and (max-width: 1260px) {
  .timelineRight {
    flex: 0;
    display: none;
  }
  .timelineLeft {
    flex: 1;
  }
  .postTimeline {
    width: 70%;
    /* justify-content: center; */
  }
}
@media screen and (max-width: 500px) {
  .postTimeline {
    width: 100%;
    /* justify-content: center; */
  }
}
