.timeline {
  display: flex;
  flex-direction: row;
  margin-top: 3.7rem;
}
.timelineLeft {
  flex: 0.7;
}
.postTimeline {
  width: 70%;
  margin: auto;
}
.timelineRight {
  flex: 0.3;
  margin-right: 3rem;
}
.sugesstionTime > p {
  color: rgb(124, 120, 120);
}
.sugesstionTime > a {
  color: rgb(17, 17, 17);
  font-size: 0.8rem;
  font-weight: 500;
}
.sugesstionTime > a:hover {
  color: rgb(124, 120, 120);
}
@media screen and (max-width: 1260px) {
  .timelineRight {
    flex: 0;
    display: none;
  }
  .timelineLeft {
    flex: 1;
  }
  .postTimeline {
    width: 70%;
    /* justify-content: center; */
  }
}
@media screen and (max-width: 500px) {
  .postTimeline {
    width: 100%;
    /* justify-content: center; */
  }
}
