.profileContainer {
  margin: 2rem;
}
/* User display flex box */
.userDetailsCont {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-left: 10rem;
  margin-bottom: 4rem;
}
.profileImg {
  border-radius: 8rem;
  width: 220px;
  height: 220px;
}
.imgUserNameCon {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
/* User display control  for mobile and website */
.webUserName {
  display: block;
}
.mobileUserName {
  display: none;
}
.userProfileDiv {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userProfileSubDiv1,
.userProfileSubDiv2 {
  display: flex;
  gap: 20px;
  text-align: center;
  margin-bottom: 0.5rem;
}
span {
  font-size: 1.1rem;
}
.btnEditView {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  padding: 3px 10px;
}
.btnEditView:hover {
  background-color: rgb(204, 203, 203);
}
.userDetailsCont2 {
  border-top: 2px solid #e0e0e0;
}
.mobileResProfile {
  display: none;
}
.btntoggle1 {
  padding: 0.5rem 1.6rem;
}
/* Profile post and reel section */
.ProfileBtnCont {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.ProfilePostsReelsBtn {
  padding: 0.5rem 2rem;
  border: none;
}

@media screen and (max-width: 1000px) {
  .userDetailsCont {
    margin-left: 0rem;
    justify-content: center;
  }
}
@media screen and (max-width: 780px) {
  .profileContainer {
    margin: 0.5rem;
  }
  .userDetailsCont {
    margin-top: 4.1rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }
  span {
    font-size: 0.9rem;
  }
  .userProfileSubDiv1,
  .userProfileSubDiv2 {
    gap: 15px;
  }
  .profileImg {
    width: 98px;
    height: 98px;
  }
  .userProfileDiv {
    margin-top: 1rem;
  }
  .btntoggle {
    display: none;
  }
  .mobileResProfile {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
  }
  .webUserName {
    display: none;
  }
  .mobileUserName {
    display: block;
  }
}
